.inc{
    display: flex;
    justify-content: flex-end;
    color: rgb(15, 172, 15);
    font-size: 16px;
    font-weight: 500;
}
.prs{
    color:  rgb(0, 119, 255);
    font-weight: 600;
    font-size: 25px !important;
}

.tracking-wide{
    color: rgb(33, 227, 227);
}

.circle-icon {
  width: 60px;
  height: 60px;
  background-color: #ffcc00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 24px;
}

.bg-warning {
  background-color: #ffcc00 !important;
}
.lsec{padding: 24px !important;
    margin-bottom: 28px;
    border-radius: 8px 0px 0px 8px !important;
margin-left: -12px !important; }


.btn1{
    border: 2px solid white !important;
    padding: 4px 0px 4px 0px !important;
}

@media (max-width: 768px) {
   .psec{
        height: 230px !important;
        /* margin-top: -18px; */
  }
  .dis{
    width: 55%;
    /* font-weight: 500; */
  }
  .dates{
    /* margin-left: 10px !important; */
  }
  .dates span{
    font-size: 34px;
    font-weight: 600;
  }
  .track {
    font-size: 15px !important;
}
.lsec{
    width: 110%;
     border-radius: 8px 8px 0px 0px !important;
}
.date-had{
    display: none;
}
.fake-month span{
    font-size: 13px;
}
.fake-date{
    font-size: 24px;
}
.fake-month{
    width: 57px !important;
}
.lowcab{
    left: 15px !important;
    top: 7px !important;

}
.local{
    justify-content: space-between !important;
    display: block !important;
}
}

.track  span{
    font-size: 15px !important;
    font-weight: 550 !important;
}

.track {
    font-size: 17px !important;
    font-weight: 550 !important;
}
.local-head {
    width: 102px !important;
}

    .psec{
        height: 119px ;
    }

    
    .bold{
        font-weight: 500;
        /* color: black; */
    }
    span{
        font-weight: 600;
        /* font-size: 15px !important; */
    }

    .relatives{
        border: 1.5px solid #3877f6;
border-radius: 12px;
box-shadow: 0 14px 12px rgba(0, 0, 0, 0.08);
/* padding: 10px; */
background: #fff;
transition: all 0.3s ease;
    }
    @media(min-width:768px){
.dates{
            margin-left: 20px;
}
.local{
    justify-content: start;
}
.lowcab{
        left: 15px;
    top: 5px !important;
    }

.date-had{
    font-size: 18px;
    font-weight: 500;
    margin-left: 140px;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

    }
    