.inc{
    display: flex;
    justify-content: flex-end;
    color: rgb(15, 172, 15);
    font-size: 16px;
    font-weight: 500;
}
.prs{
    color:  rgb(15, 172, 15);
    font-weight: 600;
}

.tracking-wide{
    color: rgb(33, 227, 227);
}

.circle-icon {
  width: 60px;
  height: 60px;
  background-color: #ffcc00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 24px;
}

.bg-warning {
  background-color: #ffcc00 !important;
}
.lsec{padding: 24px !important;
    margin-bottom: 28px;
    border-radius: 8px 0px 0px 8px !important;
margin-left: -12px !important; }


.btn1{
    border: 2px solid white !important;
    padding: 4px 0px 4px 0px !important;
}

@media (max-width: 768px) {
   .psec{
        height: 230px !important;
        /* margin-top: -18px; */
  }
.lsec{
    width: 110%;
     border-radius: 8px 8px 0px 0px !important;
}
}

    .psec{
        height: 119px ;
    }

    .lowcab{
        left: 53px;
    top: -31px !important
    }

    .bold{
        font-weight: 500;
        /* color: black; */
    }
    span{
        font-weight: 500;
    }