.inc{
    display: flex;
    justify-content: flex-end;
    color: rgb(15, 172, 15);
    font-size: 16px;
    font-weight: 500;
}
.prs{
    color:  rgb(0, 119, 255);
    font-weight: 600;
}

.tracking-wide{
    color: rgb(33, 227, 227);
}

.circle-icon {
  width: 60px;
  height: 60px;
  background-color: #ffcc00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 24px;
}

.bg-warning {
  background-color: #ffcc00 !important;
}
.lsec{padding: 24px !important;
    margin-bottom: 28px;
    border-radius: 8px 0px 0px 8px !important;
margin-left: -12px !important; }


.btn1{
    border: 2px solid white !important;
    padding: 4px 0px 4px 0px !important;
}

@media (max-width: 768px) {
   .psec{
        height: 230px !important;
        /* margin-top: -18px; */
  }
  .dis{
    width: 55%;
    /* font-weight: 500; */
  }
  .dates{
    /* margin-left: 10px !important; */
  }
  .dates span{
    font-size: 30px;
  }
.lsec{
    width: 110%;
     border-radius: 8px 8px 0px 0px !important;
}
.date-had{
    display: none;
}
.fake-month span{
    font-size: 11px;
}
.fake-date{
    font-size: 19px;
}
.lowcab{
    left: 40px !important;
    top: 6px !important;
}
}

    .psec{
        height: 119px ;
    }

    
    .bold{
        font-weight: 500;
        /* color: black; */
    }
    span{
        font-weight: 500;
    }
    @media(min-width:768px){
.dates{
            margin-left: 20px;
}
.lowcab{
        left: 30px;
    top: -2px !important;
    }

.date-had{
    font-size: 18px;
    font-weight: 500;
    margin-left: 140px;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

    }
    