.floating-btn {
  position: fixed;
  bottom: 30px;
  width: 58px;
  height: 58px;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: #fff;
  text-decoration: none;

  z-index: 9999;
  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

  transition: all 0.35s ease;
}

/* Call Button */
.call-btn {
  left: 25px;
  background: #1769e0;
}

/* WhatsApp Button */
.whatsapp-btn {
  right: 20px;
  background: #25d366;
}

/* Icon */
.btn-icon {
  font-size: 30px;
margin-left: 7px;
  line-height: 1;
  flex-shrink: 0;
}

/* Hidden Text */
.btn-text {
  max-width: 0;
  opacity: 0;
  white-space: nowrap;

  font-size: 15px;
  font-weight: 600;

  transition: all 0.35s ease;
}

/* Hover */
.floating-btn:hover {
  width: 145px;
  color: #fff;
}

.floating-btn:hover .btn-text {
  max-width: 90px;
  opacity: 1;
}

/* Mobile */
@media (max-width: 600px) {
  .floating-btn {
    width: 52px;
    height: 52px;
    bottom: 20px;
  }

  .call-btn {
    left: 15px;
  }

  .whatsapp-btn {
    right: 15px;
  }

  .btn-icon {
    font-size: 21px;
  }

  .floating-btn:hover {
    width: 130px;
  }
}