.contact-section {
  position: relative;
  background: #f3f3f3;
  padding: 45px 0;
  /* overflow: hidden; */
}

/* RIGHT YELLOW LINE */
.right-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;              /* thickness */
  height: 100%;
  background-color: #f4b400;   /* yellow */
}

/* CONTAINER */
.contact-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
}

.contact-left h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.subtitle {
  /* margin-bottom: 40px; */
  font-size: 14px;
}

.contact-info h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.highlight {
  color: #0d6efd;
  font-size: 17px;
  text-decoration: none;
}

/* SOCIAL ICONS */
.social-icons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  background: #f4b400;
  color: #000;
}

/* RIGHT SIDE */
.contact-right {
  flex: 1;
}

.contact-right form {
  display: flex;
  flex-direction: column;
}

.contact-right label {
  margin-bottom: 6px;
  font-size: 16px;
}

.contact-right input,
.contact-right textarea {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
}

.contact-right button {
  width: 132px;
  padding: 13px;
  background: #f4b400;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.contact-right button:hover {
  background: #e0a800;
}
.con{
  margin-bottom: 10px !important;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .con-data{
    text-align: center !important;
  }

  .contact-left h1 {
    font-size: 32px;
  }

  .right-line {
    display: none;   /* mobile me line hide */
  }
}